name: Test the changelog action
permissions:
  contents: read
on: [push]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Run unit tests
        run: npm test

  test:
    runs-on: ubuntu-latest
    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # was: actions/checkout@v4
      - name: Generate changelog
        id: changelog
        # refme: ignore
        uses: metcalfc/changelog-generator@main
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
          head-ref: 'v0.0.2'
          base-ref: 'v0.0.1'
      - name: Reverse the generated changelog
        id: changelog-rev
        # refme: ignore
        uses: metcalfc/changelog-generator@main
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
          head-ref: 'v0.0.2'
          base-ref: 'v0.0.1'
          reverse: 'true'
      - name: Explicitly do not reverse the generated changelog
        id: changelog-notrev
        # refme: ignore
        uses: metcalfc/changelog-generator@main
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
          head-ref: 'v0.0.2'
          base-ref: 'v0.0.1'
          reverse: 'false'
      - name: Get the changelog
        run: |
          cat << "EOF"
          ${{ steps.changelog.outputs.changelog }}
          EOF
      - name: Modify the changelog
        id: modified
        run: |
          set -o noglob
          log=$(cat << "EOF" | grep -v Bumping | tac
          ${{ steps.changelog.outputs.changelog }}
          EOF
          )
          log="${log//'%'/'%25'}"
          log="${log//$'\n'/'%0A'}"
          log="${log//$'\r'/'%0D'}"
          echo "modified=$log" >> $GITHUB_OUTPUT
      - name: Print the modified changelog
        run: |
          cat << "EOF"
          ${{ steps.modified.outputs.modified }}
          EOF
      - name: Generate changelog from release
        id: release
        # refme: ignore
        uses: metcalfc/changelog-generator@main
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Get the changelog
        run: |
          cat << "EOF"
          ${{ steps.release.outputs.changelog }}
          EOF
